[Unit]
Description=BLE rssi autolock

[Service]
ExecStart=/usr/bin/python3 /usr/bin/ble_rssi_lock.py
WorkingDirectory=%h
Environment=CONFIG_PATH=/etc/ble_rssi_lock/config.ini
StandardOutput=inherit
StandardError=inherit
Restart=always
User=%u

[Install]
WantedBy=multi-user.target
