[Unit]
Description=BLE rssi autolock

[Service]
ExecStart=/usr/bin/python3 /usr/local/bin/ble_rssi_lock.py
WorkingDirectory=%h
Environment=CONFIG_PATH=.config/systemd/user/ble_rssi_lock/config.ini
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=default.target
```

Launch the service:
```shell
systemctl --user daemon-reload
systemctl --user enable --now ble_rssi_lock.service
systemctl --user restart ble_rssi_lock.service
